//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <8 7>;
        };

        WindowLeft {
            bindings = <&kp LG(LS(LEFT_ARROW))>;
            key-positions = <20 21>;
            layers = <0 1 2>;
        };

        WindowRight {
            bindings = <&kp LG(LS(RIGHT_ARROW))>;
            key-positions = <31 30>;
        };

        TabForward {
            bindings = <&kp LC(TAB)>;
            key-positions = <33 34>;
            layers = <0 1 2>;
        };

        TabBack {
            bindings = <&kp LC(LS(TAB))>;
            key-positions = <33 32>;
            layers = <0 1 2>;
        };

        EnterLeft {
            bindings = <&kp ENTER>;
            key-positions = <2 1>;
            layers = <0 1 2>;
        };

        TabClose {
            bindings = <&kp LC(W)>;
            key-positions = <32 33 34>;
            layers = <0 1 2>;
        };

        GamingLayer {
            bindings = <&tog 3>;
            key-positions = <33 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
           &kp Q  &kp W  &kp E                 &kp R      &kp T        &kp Y          &kp U      &kp I         &kp O    &kp P
           &kp A  &kp S  &kp D                 &kp F      &kp G        &kp H          &kp J      &kp K         &kp L    &kp SEMI
&kp LSHFT  &kp Z  &kp X  &kp C                 &kp V      &kp B        &kp N          &kp M      &kp COMMA     &kp DOT  &kp SLASH  &mt LEFT_ALT ESCAPE
                         &mt LEFT_CONTROL DEL  &lt 1 TAB  &kp SPACE    &kp BACKSPACE  &lt 2 TAB  &kp LEFT_GUI
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp F2   &kp F5   &kp HOME        &kp PAGE_UP     &kp PAGE_UP        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0     &trans
        &kp F11  &kp F12  &kp END         &kp UP_ARROW    &kp PAGE_DOWN      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_PLUS      &kp KP_DIVIDE
&trans  &kp F3   &kp F4   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY  &kp KP_MINUS   &trans
                          &trans          &trans          &trans             &trans        &trans        &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp EXCL              &kp AT            &kp HASH  &kp ASTERISK              &kp LEFT_PARENTHESIS         &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT         &kp DQT
        &trans                &kp RA(NUMBER_2)  &trans    &kp LA(LC(LEFT_BRACKET))  &kp LA(LC(RIGHT_BRACKET))    &kp NUBS   &kp PIPE       &kp GRAVE        &trans          &kp UP_ARROW
&trans  &kp NON_US_BACKSLASH  &trans            &trans    &kp LEFT_BRACE            &kp RIGHT_BRACE              &kp EXCL   &kp UNDER      &trans           &kp LEFT_ARROW  &kp DOWN_ARROW  &trans
                                                &trans    &trans                    &trans                       &trans     &trans         &trans
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
                &kp ESCAPE  &kp Q  &kp NUMBER_2  &kp E           &kp R     &trans  &trans  &trans  &trans  &trans
                &kp TAB     &kp A  &kp W         &kp D           &kp F     &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z       &kp X  &kp S         &kp C           &kp V     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL     &lt 4 LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            bindings = <
        &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &trans  &trans  &trans  &trans  &trans
        &trans  &trans        &trans        &trans        &kp I           &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &trans        &trans        &kp M           &trans  &trans  &trans  &trans  &trans  &trans
                              &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
